@model IEnumerable<eCommerce.Model.Voucher>

@{
    ViewBag.Title = "Vouchers";
}

<h2>Vouchers</h2>

<p>
    @Html.ActionLink("Create New", "CreateVoucher")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoucherCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoucherTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoucherDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppliesToProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumSpend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MultipleUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppliesToProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumSpend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MultipleUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditVoucher", new { id=item.VoucherId }) |
            @Html.ActionLink("Delete", "DeleteVoucher", new { id=item.VoucherId })
        </td>
    </tr>
}

</table>
